<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home | Tech-Connect</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>


  <header class="header header--bg">
    <div class="row">
      <div class="col-md-4">
        <div class="container header--wrapper">
          <h1 class="header__title"><span class="header__title--light">Tech</span> Connect</h1>
          <p class="header__paragraph">A platform to help you showcase what you learn, what you teach, what you do and what you innovate. </p>
          <a class="button" href="{{ url_for('upload')}}">UPLOAD</a>
          <a class="button" href="{{ url_for('test_run')}}">RUN MODEL</a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="container header--wrapper">
        <img src="{{ url_for('static', filename='assets/img/header-vector.jpg')}}"
        width="500px" height="400px" >
        </div>
    </div>
    </div>
  </header>



<!--- Java scripts & Jqueries ->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function() {

      var $videoSrc = $("#video").attr("src");

      $('#myModal').on('shown.bs.modal', function (e) {
        $("#video").attr('src',$videoSrc + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1" ); 
      });

      $('#myModal').on('hide.bs.modal', function (e) {
        $("#video").attr('src',$videoSrc); 
      });
  });
  </script-->

</body>
</html>  